@model List<ProdutoViewModel>

<a href="/produto/Create" class="btn btn-success">Novo Produto</a>
<a href="/produto/ExibeConsultaAvancada" class="btn btn-success">Consulta Avançada</a>
<br />
<br />
<table class="table table-striped table-responsive">
    <tr>
        <th>Ações</th>
        <th>Código</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Descrição</th>
        <th>Avaliação</th>
        <th>Imagem</th>
    </tr>

    @foreach (ProdutoViewModel produto in Model)
    {
        <tr>
            <td>
                <a href="/produto/edit?id=@produto.Id">✍🏻</a>
                <a href="javascript:apagarProduto(@produto.Id)">💣</a>
                <a href="/Reviews/Create?produtoId=@produto.Id">☆</a>
            </td>
            <td>@produto.Id</td>
            <td>@produto.Nome</td>
            <td>@produto.Preco.ToString("C")</td>
            <td>@produto.Descricao</td>
            <td><a href="/Reviews/Index?produtoId=@produto.Id">☆ @produto.Avaliacao.Value.ToString("0.00")/5,00 de @produto.NumeroAvaliacoes Avaliações</a></td>
            <td class="col-md-3"> <img src="data:image/jpeg;base64,@produto.ImagemEmBase64" alt="Imagem do Funcionário" style="max-width: 100px; max-height: 100px;"></td>
        </tr>
    }
</table>
<script>
    function apagarProduto(id) {
        if (confirm('Confirma a exclusão do registro?'))
            location.href = 'Produto/Delete?id=' + id;
    }
</script>

